* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: montserrat;
}
.image{
  background-image: url("janko-ferlic-sfL_QOnmy00-unsplash.jpg");
  opacity: 1;
  background-size: 1750px;
 background-position: center center;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
}
img{
  max-width: 100%;
}
input[type=text]{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  background-color: white;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.btnSubmit {
  margin-left: 43%;
  font-size: 20px;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  margin-top: 480px;
  color: white;
  background-color: rgb(36, 35, 35);
  box-shadow: 4px 4px rgb(219, 219, 219);
  cursor: pointer;
}
.btnSubmit:hover {
  opacity: 0.8;
}

.container {
  position: absolute;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 80%;
  top: 67%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.tblRow:after {
  content: "";
  display: table;
  clear: both;
}
nav{
  background: rgb(219, 219, 219);
  height: 60px;
  width: 100%;
}
label.logo{
  color: black;
  font-size: 35px;
  line-height: 55px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 60px;
  margin: 0 5px;
}
nav ul li a{
  color: black;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
  background: rgb(158, 143, 143);
  transition: .5s;
  cursor: pointer;
}
.checkbtn{
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
.id{
  margin-left: 2%;
}
.date{
  margin-left: 50%;
}
.top{
  margin-top: 30px;
  font-size: 30px;
  font-weight: bold;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
  .id{
    margin-left: 3rem;
  }
  .date{
    margin-left: 16rem;
  }
  .container {
    position: absolute;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 80%;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .top{
    margin-top: 3rem;
    font-size: 2rem;
    font-weight: bold;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
    margin-top: -15px;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 195px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 100;
  }
  .btnSubmit {
    margin-left: 46%;
    font-size: 20px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    color: white;
    background-color: rgb(36, 35, 35);
    box-shadow: 4px 4px rgb(219, 219, 219);
    cursor: pointer;
}
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
  .id{
    margin-left: 2rem;
  }
  .date{
    margin-left: 18rem;
  }
  .top{
    margin-top: 3rem;
    font-size: 26px;
    font-weight: bold;
  }
}
@media (max-width: 720px){
.col-25, .col-75, input[type=submit] {
  width: 100%;
  margin-top: 0;
}
.btnSubmit {
  margin-left: 43%;
  font-size: 20px;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  color: white;
  background-color: rgb(36, 35, 35);
  box-shadow: 4px 4px rgb(219, 219, 219);
  cursor: pointer;
}
  .checkbtn{
    display: block;
    margin-top: -15px;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 202px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 100;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
  .id{
    margin-left: 2%;
  }
  .date{
    margin-left: 40%;
  }
  .top{
    margin-top: 1rem;
    font-size: 15px;
    font-weight: bold;
  }
  .container {
    position: absolute;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 80%;
    top: 63%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}
@media (max-width: 520px){
.col-25, .col-75, input[type=submit] {
  width: 100%;
  margin-top: 0;
}
.btnSubmit {
  margin-left: 39%;
  font-size: 20px;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  color: white;
  background-color: rgb(36, 35, 35);
  box-shadow: 4px 4px rgb(219, 219, 219);
  cursor: pointer;
}
.container {
  position: absolute;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
  .checkbtn{
    display: block;
    margin-top: -15px;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 181px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 100;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
  .id{
    /* font-size: 10px; */
    margin-left: 2%;
  }
  .date{
    /* font-size: 10px; */
    margin-left: 12.5%;
  }
  .top{
    margin-top: 1rem;
    font-size: 14px;
    font-weight: bold;
  }
}
@media (max-width: 376px) {
  .container {
    position: absolute;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 80%;
    top: 64%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}
@media (max-width: 307px){
.col-25, .col-75, input[type=submit] {
  width: 100%;
  margin-top: 0;
}
.btnSubmit {
  margin-left: 38%;
  font-size: 15px;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  color: white;
  background-color: rgb(36, 35, 35);
  box-shadow: 4px 4px rgb(219, 219, 219);
  cursor: pointer;
}
label.logo{
  font-size: 20px;
  line-height: 55px;
  padding: 0 15px;
  font-weight: bold;
}
  .checkbtn{
    display: block;
    margin-top: -15px;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 149px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 100;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
  .id{
    margin-left: 2%;
  }
  .date{
    margin-left: 30%;
  }
  .top{
    margin-top: 1rem;
    font-size: 17px;
    font-weight: bold;
  }
}

