body{
  font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
  background-color: #0186E5;
}
header {
  text-align: center;
  font-size: 60px;
  margin-top: 6%;
}

.maindiv{
  position: absolute;
  top: 60%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 350px;
  height: 385px;
  padding:3rem;
  border-radius:0.5rem;
  border:1px solid #e1e1e1;
  text-align: center;
  border-color: #25d3d0;
  background-color: white;
  border-width: 3px;
}
.maindiv .Fields{
  display: inline-block;
  height: 90px;
  position: relative;
}
h1{
  font-size:24px;
  font-weight: 200px;
}
h3{
  color:#202124;
  font-size: 27px;
  font-weight: 400;
}
input{
  outline: none;
}
.Before-FS{
  width:320px;
  border: 1px solid #c2c2c2;
  border-radius: 10px;
  height: 28px;
  font-size:16px;
  margin: 1px 1px 0 1px;
  padding: 13px 15px;
  transition: 0.1s;
}
.Before-FS:focus{
  border: 2px solid #1a73e8;
  border-top:1px solid transparent;
}
.Fs-H{
  opacity: 0;
  transition:0.2s;
}
.Fieldset > h1 {
  font: 1em normal;
  margin: -4px 7px -8px;
  position: relative;
  top: -60px;
}
.Fieldset > h1 > span {
float: left;
color:#1a73e8;
font-family: 'Google Sans','Noto Sans Myanmar UI','arial','sans-serif';
font-size: 13px;
}

.Fieldset >h1::before{
  border-top:2px solid #1a73e8;
  content:' ';
  float: left;
  margin: 0.5em 2px 0 -1px;
  width:0.75em

}
.Fieldset > h1::after{

  border-top:2px solid #1a73e8;
  content: ' ';
display: block;
height:1.5em;
left:2px;
margin: 0 1px 0 0;
overflow: hidden;
position: relative;
top:0.5em;
}
.placeholder{
  position: absolute;
  left:20px;
  top:19px;
  color:#80868b;
  font-size: 16px;
  font-weight: 400;
  pointer-events: none;
  transition:0.4s
}

input:focus ~ label.placeholder,
input:valid ~ label.placeholder {
  top:3px;
  font-size: 10px;
  opacity: 0;
}

input:focus + .Fs-H,input:valid + .Fs-H{
opacity: 1;

}

button {
  cursor: pointer;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 22px;
  line-height: 1.42;
  color: white;
  border-radius: 10px;
  background-color: #1a73e8;
  outline: none;
  min-width: 104px;
  margin-bottom: 28px;
}
@media (max-width: 952px){
  .Before-FS {
    width: 276px;
    border: 1px solid #c2c2c2;
    border-radius: 11px;
    height: 24px;
    font-size: 16px;
    margin: 0px 1px 0px 1px;
    padding: 13px 15px;
    transition: 0.1s;
    left: 50%;
}
  
.maindiv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 429px;
  min-height: 339px;
  padding: 3rem;
  border-radius: 0.5rem;
  border: 1px solid #e1e1e1;
  text-align: center;
}
  
  .Fieldset > h1 {
    font: 1em normal;
    margin: 0px 6.5px -8px;
    position: relative;
    top: -60px;
  }
}
@media (max-width: 858px){
  header {
    text-align: center;
    font-size: 32px;
  }
  .Before-FS {
    width: 276px;
    border: 1px solid #c2c2c2;
    border-radius: 11px;
    height: 24px;
    font-size: 16px;
    margin: 0px 1px 0px 1px;
    padding: 13px 15px;
    transition: 0.1s;
    left: 50%;
}
  
  .maindiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 429px;
    min-height: 339px;
    padding: 3rem;
    border-radius: 0.5rem;
    border: 1px solid #e1e1e1;
    text-align: center;
  }
  
  .Fieldset > h1 {
    font: 1em normal;
    margin: 0px 6.5px -8px;
    position: relative;
    top: -60px;
  }
}

@media (max-width: 720px){
  header {
    top: 50px;
    text-align: center;
    font-size: 28px;
}
.Before-FS {
  width: 186px;
  border: 1px solid #c2c2c2;
  border-radius: 11px;
  height: 24px;
  font-size: 16px;
  margin: 0px 0px 0px 0px;
  padding: 13px 15px;
  transition: 0.1s;
  /* left: 50%; */
  /* left: 2px; */
  /* right: 50%; */
}

.maindiv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 235px;
  min-height: 339px;
  padding: 3rem;
  border-radius: 0.5rem;
  border: 1px solid #e1e1e1;
  text-align: center;
}

.Fieldset > h1 {
  font: 1em normal;
  margin: 0px 6.5px -8px;
  position: relative;
  top: -60px;
}
}