* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body {
    font-family: montserrat;
  }
  header {
    text-align: center;
    font-size: 60px;
  }
  nav {
    background: #0082e6;
    height: 60px;
    width: 100%;
  }
  label.logo {
    color: white;
    font-size: 35px;
    line-height: 55px;
    padding: 0 100px;
    font-weight: bold;
  }
  nav ul {
    float: right;
    margin-right: 20px;
  }
  nav ul li {
    display: inline-block;
    line-height: 60px;
    margin: 0 5px;
  }
  nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,
  a:hover {
    background: #1b9bff;
    transition: 0.5s;
    cursor: pointer;
  }
  .checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check {
    display: none;
  }
  
  .Button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -100;
  }
  .btnAddBook {
    background: #0082e6;
    border-radius: 33px;
    padding: 16px 127px 14px 118px;
    color: white;
    margin-top: 200px;
    font-weight: bold;
    font-size: 25px;
  }
  .btnTakeReturn {
    background: #0082e6;
    border-radius: 33px;
    margin-top: 40px;
    padding: 16px 119px 14px 99px;
    color: white;
    font-weight: bold;
    font-size: 25px;
  }
  .btnSetRecommandation {
    background: #0082e6;
    border-radius: 33px;
    margin-top: 40px;
    padding: 16px 56px 14px 48px;
    color: white;
    font-weight: bold;
    font-size: 25px;
  }
  .btnSeeReport{
    background: #0082e6;
    border-radius: 33px;
    margin-top: 42px;
    padding: 16px 108px 14px 118px;
    color: white;
    font-weight: bold;
    font-size: 25px;
  }
  @media (max-width: 952px) {
    label.logo {
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a {
      font-size: 16px;
    }
  }
  @media (max-width: 858px) {
    header {
      text-align: center;
      font-size: 32px;
    }
    .checkbtn {
      display: block;
    }
    ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all 0.5s;
    }
    nav ul li {
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a {
      font-size: 20px;
    }
    a:hover,
    a.active {
      background: none;
      color: #0082e6;
    }
    #check:checked ~ ul {
      left: 0;
    }
  }
  @media (max-width: 720px) {
    header {
      text-align: center;
      font-size: 28px;
    }
    .checkbtn {
      display: block;
      margin-top: -6px;
    }
    ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all 0.5s;
      z-index: 100;
    }
    nav ul li {
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a {
      font-size: 20px;
    }
    a:hover,
    a.active {
      background: none;
      color: #0082e6;
    }
    #check:checked ~ ul {
      left: 0;
    }
    .btnAddBook {
      background: #0082e6;
      border-radius: 20px;
      padding: 16px 57px 14px 65px;
      color: white;
      margin-top: 200px;
      font-weight: bold;
      font-size: 17px;
  }
  .btnTakeReturn {
    background: #0082e6;
    border-radius: 20px;
    margin-top: 40px;
    padding: 16px 68px 14px 65px;
    color: white;
    font-weight: bold;
    font-size: 17px;
}
.btnSetRecommandation {
  background: #0082e6;
  border-radius: 20px;
  margin-top: 40px;
  padding: 16px 24px 14px 30px;
  color: white;
  font-weight: bold;
  font-size: 17px;
}
.btnSeeReport {
  background: #0082e6;
  border-radius: 20px;
  margin-top: 42px;
  padding: 16px 77px 14px 69px;
  color: white;
  font-weight: bold;
  font-size: 17px;
}
  }

  
@media (max-width: 307px) {
  header {
    text-align: center;
    font-size: 28px;
  }
  label.logo{
    color: white;
    font-size: 25px;
    line-height: 55px;
    padding: 0 15px;
    font-weight: bold;
  }
  .checkbtn {
    display: block;
    margin-top: -6px;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 120px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    z-index: 100;
}
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
