*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: montserrat;
}
.image{
  background-image: url("janko-ferlic-sfL_QOnmy00-unsplash.jpg");
  opacity: 1;
  background-size: 1750px;
 background-position: center center;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
 
}
nav{
  background: rgb(219, 219, 219);
  height: 60px;
  width: 100%;
}
label.logo{
  color: black;
  font-size: 35px;
  line-height: 55px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 60px;
  margin: 0 5px;
}
nav ul li a{
  color: black;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
img{
  max-width: 100%;
}
a.active,a:hover{
  background: rgb(158, 143, 143);
  transition: .5s;
  cursor: pointer;
}
.checkbtn{
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
.btnBookIssueReport {
  border-radius: 20px;
  background-color: rgb(36, 35, 35);
  box-shadow: 4px 4px rgb(219, 219, 219);
  text-align: center;
  /* width: 400px; */
  /* height: 70px; */
  border: 1px solid;
  padding: 17px 89px 17px 78px;
  font-size: 24px;
  margin-top: 54px;
  cursor: pointer;
  color: white;
}
.btnBookReturnedReport {
  border-radius: 20px;
  background-color: rgb(36, 35, 35);
  box-shadow: 4px 4px rgb(219, 219, 219);
  text-align: center;
  /* width: 400px; */
  /* height: 70px; */
  border: 1px solid;
  padding: 17px 72px 17px 69px;
  font-size: 24px;
  margin-top: 54px;
  cursor: pointer;
  color: white;
}


input {
  background-color: rgb(36, 35, 35);
  box-shadow: 4px 4px rgb(219, 219, 219);
  color: white;
  padding: 17px 86px 17px 87px;
  font-size: 22px;
  border-radius: 20px;
  margin-top: 125px;
  cursor: pointer;
}
.btnBookIssueReport:hover {
background-color: rgb(255, 250, 250);
  color:black;
  border-color: black;
  border-width: 4px;
}
.btnBookReturnedReport:hover {
  background-color: rgb(255, 250, 250);
  color:black;
  border-color: black;
  border-width: 4px;
}
input:hover {
  background-color: rgb(255, 250, 250);
  color:black;
  border-color: black;
  border-width: 4px;
}

.contain{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
  .contain{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 206px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
  .contain{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}
@media (max-width: 720px){
  .checkbtn{
    display: block;
    margin-top: -6px;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 203px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
  .contain{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}
@media (max-width: 520px){
  .checkbtn{
    display: block;
    margin-top: -6px;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 180px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
  .contain{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  input {
    background-color: rgb(36, 35, 35);
  box-shadow: 4px 4px rgb(219, 219, 219);
    color: white;
    padding: 17px 51px 17px 42px;
    font-size: 17px;
    border-radius: 20px;
    cursor: pointer;
}
.btnBookIssueReport{
  border-radius: 20px;
  background-color: rgb(36, 35, 35);
  box-shadow: 4px 4px rgb(219, 219, 219);
  text-align: center;
  /* width: 400px; */
  /* height: 70px; */
  border: 1px solid;
  padding: 17px 55px 17px 55px;
  font-size: 17px;
  margin-top: 54px;
  cursor: pointer;
  color: white;
}
.btnBookReturnedReport {
  border-radius: 20px;
  background-color: rgb(36, 35, 35);
  box-shadow: 4px 4px rgb(219, 219, 219);
  text-align: center;
  /* width: 400px; */
  /* height: 70px; */
  border: 1px solid;
  padding: 17px 45px 17px 47px;
  font-size: 17px;
  margin-top: 54px;
  cursor: pointer;
  color: white;
}
}
@media (max-width: 307px){
label.logo{
  color: black;
  font-size: 25px;
  line-height: 55px;
  padding: 0 15px;
  font-weight: bold;
}
  .checkbtn{
    display: block;
    margin-top: -6px;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 120px;
    left: -100%;
    text-align: center;
    transition: all .5s;
}
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
  .contain{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}